BCRPS-ML-Model.json
[{"id":"31a19cd0.8cc654","type":"ui_form","z":"41d4f7db.5589c8","name":"","label":"","group":"599d496a.1547b8","order":1,"width":0,"height":0,"options":[{"label":"mean_radius","value":"mr","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"mt","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"mp","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ma","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":280,"wires":[["c2529bf8.5f5858","a5fe74ac.741628"]]},{"id":"c2529bf8.5f5858","type":"debug","z":"41d4f7db.5589c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":360,"wires":[]},{"id":"a5fe74ac.741628","type":"function","z":"41d4f7db.5589c8","name":"pre-token","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"ejie52ovszU1NlaX_DkdQIJqvjKWEuvdLV-t6qMk1XQz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":220,"wires":[["8bcba7d9.432b38"]]},{"id":"8bcba7d9.432b38","type":"http request","z":"41d4f7db.5589c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":472.00000381469727,"y":264.00000286102295,"wires":[["7dfbd2a8.1e31fc","296047bf.773338"]]},{"id":"7dfbd2a8.1e31fc","type":"debug","z":"41d4f7db.5589c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":320,"wires":[]},{"id":"296047bf.773338","type":"function","z":"41d4f7db.5589c8","name":"Pre Prediction","func":"var mr = global.get(\"mr\")\nvar mt = global.get(\"mt\")\nvar mp = global.get(\"mp\")\nvar ma = global.get(\"ma\")\nvar ms = global.get(\"ms\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\",\"mean_smoothness\"]],\"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":664.0000076293945,"y":216.0000021457672,"wires":[["c1a5ff2a.badae"]]},{"id":"c1a5ff2a.badae","type":"http request","z":"41d4f7db.5589c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/674edcd0-13d0-4ba1-af5e-7a1aa4fcbc6a/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":240,"wires":[["6a0c4b06.290334","2ec8f55d.816e6a"]]},{"id":"6a0c4b06.290334","type":"debug","z":"41d4f7db.5589c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1042.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"3309752.2fbcc8a","type":"inject","z":"41d4f7db.5589c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["a5fe74ac.741628"]]},{"id":"83a039d5.b601f8","type":"debug","z":"41d4f7db.5589c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":873.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"2ec8f55d.816e6a","type":"function","z":"41d4f7db.5589c8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":719.6000595092773,"y":148.00000190734863,"wires":[["83a039d5.b601f8","7acc83af.cd66ac"]]},{"id":"7acc83af.cd66ac","type":"ui_text","z":"41d4f7db.5589c8","group":"599d496a.1547b8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":837.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"599d496a.1547b8","type":"ui_group","z":"","name":"New","tab":"fe3cd65.7505328","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe3cd65.7505328","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]